.App {
  text-align: center;
}

.cardContainer{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.cardOuter{
  width: 18%;
  border: 2px solid black;
  border-radius: .5rem;
  padding: 1rem;
}

.cardOuter h3{
  text-transform: uppercase;
}

.cardOuter img{
  width: 60%;
}

.priceValue {
  font-weight: bold;
}