.App {
  text-align: center;
}

.pokeshop{
  margin: 1rem;
  padding: 0 1rem 1rem;
  border: 2px solid red;
  border-radius: 1rem;
}

.cardContainer{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
 
}

.cardOuter{
  width: 18%;
  border: 2px solid black;
  border-radius: .5rem;
  padding: 1rem;
}

.cardOuter h3{
  text-transform: uppercase;
 
}

.cardOuter img{
  width: 60%;
  transition: transform .3s ease-in-out;
}

.cardOuter img:hover{
  transform: scale(1.7);

}

.priceValue {
  font-weight: bold;
}

.headermenu{
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-around;
}

.buttonContainer{
  display: flex;
  gap: 1rem;
}